.signInButton {
    width: 90%;
    margin: 10px;
    height: 30px;
}

.signInButton:hover, .signUpButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.signUpButton {
  width: 90%;
  margin: 10px;
  height: 30px;
}

.emailInput {
  width: 90%;
  margin: 10px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
}

.passwordInput {
  width: 90%;
  margin: 10px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
}

.firstNameInput {
  width: 90%;
  margin: 10px;
  height: 30px;
  font-size:16px;
  padding: 5px;
}

.lastNameInput {
  width: 90%;
  margin: 10px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
}

.cancelButton {
  width: 90%;
  margin: 10px;
  height: 30px;
}
