.hideMoveLogButton {
  width: 90%;
  margin: 10px;
  height: 30px;
}

.lineBreak {
  width: 80%;
  margin-top: 10%;
}

.moveColumn {
  font-size: 16px;
  padding: 5px;
}

.move {
  font-size: 16px;
  padding: 5px;
  transform-origin: 50% 50%;
	animation: scale .6s;
}


.move:hover {
  cursor: pointer;
  color: #7d8ca3;
}

@keyframes scale {
	from { transform: scale(.5); }
	to { transform: scale(1); }
}
