.sideBar {
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 50%;
    padding: 3%;
    background-color: white;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.moveLogButton, .logOutButton, .resetButton, .cancelButton, .myGamesButton, .resignCurrentGameButton, .analyticsButton {
    width: 90%;
    margin: 10px;
    height: 30px;
}

.moveLogButton:hover, .logOutButton:hover, .resetButton:hover, .cancelButton:hover, .myGamesButton:hover, .resignCurrentGameButton:hover, .analyticsButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.gravatar {
    border-radius: 50%;
    margin: 20px;
    width: 50px;
}

.opponentGravatar {
  border-radius: 50%;
  width: 30px;
  margin: 5px;
}

.watchRobots {
  margin-top: 50px;
}
