.sideBar {
    margin-top: 5%;
    margin-right: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 50%;
    padding: 3%;
}

.moveLogButton {
    width: 90%;
    margin: 10px;
    height: 40px;
}

.signUpButton {
    width: 90%;
    margin: 10px;
    height: 40px;
}

.signInButton {
    width: 90%;
    margin: 10px;
    height: 40px;
}

.logOutButton {
    width: 90%;
    margin: 10px;
    height: 40px;
}

.resetButton {
  width: 90%;
  margin: 10px;
  height: 40px;
}
