.sideBar {
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 50%;
    padding: 3%;
}

.moveLogButton {
    width: 90%;
    margin: 10px;
    height: 30px;
}

.moveLogButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.logOutButton {
    width: 90%;
    margin: 10px;
    height: 30px;
}

.logOutButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.resetButton {
  width: 90%;
  margin: 10px;
  height: 30px;
}

.resetButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.challengeButton {
  width: 90%;
  margin: 10px;
  height: 30px;
}

.challengeButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.cancelButton {
  width: 90%;
  margin: 10px;
  height: 30px;
}

.cancelButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.gravatar {
    border-radius: 50%;
    margin: 20px;
    width: 50px;
}

.firstNameInput {
  width: 90%;
  margin: 10px;
  height: 30px;
  font-size:16px;
  padding: 5px;
}

.emailInput {
  width: 90%;
  margin: 10px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
}

.color-black, .color-white {
  color: #262638;
  margin-left: 20px;
  margin: 10px;
  height: 30px;
  font-size:14px;
  padding: 5px;
  width: 40%;
  outline: none;
  border: none;
  margin-bottom: 10px;
}

.underline {
  border-bottom: 5px solid #4286f4;
}
