.thumbNailBoard {
  margin-left: 32px;
}

.archiveButton {
  margin: 20px;
}

.archiveButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.thumbNail {
  margin: 3%;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  width: 275px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
}

.thumbNail:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.thumbNailBoard:hover {
  cursor: pointer;
  opacity: .9;
}

.acceptChallenge {
  color: red;
  transition: .3;
}

.acceptChallenge:hover {
  cursor: pointer;
  color: #ff6338;
}
