.thumbNailBoard {
  margin-left: 32px;
  margin-bottom: 30px;
}

.thumbNail {
  margin: 3%;
  padding-top: 30px;
  text-align: center;
  display: inline-block;
  width: 275px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.status {
}
